<div class="text-center">

    
    <h2 class = "title" >{{title}}</h2>
    <input type='hidden'   value="{{id}}">
    
    <p id = 'article'>{{content}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>





<div id ="comment-section">
    <p class = "title" >Comments</p>
   {{#if comments.length}}
   {{#each comments as |comment|}}
    <p>{{comment.content}}</p>
    <p>{{format_date comment.date_created}}</p>
    {{/each}}
    {{/if}}
</div>


<form class="new-comment-form">
    <div class="form-group">
        <label for="new-comment">Add a comment?</label>
        <input type="hidden" id="theId" value="{{id}}">
        <input class="form-input" type="text" id="new-comment" name="new-comment" />
    </div>

        <button type="submit" class="btn btn-primary">add comment</button>
</form>
  
</div> 


<script src="/js/articleview.js"></script>